@import url("https://fonts.googleapis.com/css?family=Lato:300,700,900,300italic");

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE 8/9.
 */

 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 nav,
 section,
 summary {
     display: block;
 }
 
 /*
  * Corrects `inline-block` display not defined in IE 8/9.
  */
 
 audio,
 canvas,
 video {
     display: inline-block;
 }
 
 /*
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
 
 audio:not([controls]) {
     display: none;
     height: 0;
 }
 
 /*
  * Addresses styling for `hidden` attribute not present in IE 8/9.
  */
 
 [hidden] {
     display: none;
 }
 
 /* ==========================================================================
    Base
    ========================================================================== */
 
 /*
  * 1. Sets default font family to sans-serif.
  * 2. Prevents iOS text size adjust after orientation change, without disabling
  *    user zoom.
  */
 
 html {
     font-family: sans-serif; /* 1 */
     -webkit-text-size-adjust: 100%; /* 2 */
     -ms-text-size-adjust: 100%; /* 2 */
 }
 
 /*
  * Removes default margin.
  */
 
 body {
     margin: 0;
 }
 
 /* ==========================================================================
    Links
    ========================================================================== */
 
 /*
  * Addresses `outline` inconsistency between Chrome and other browsers.
  */
 
 a:focus {
     outline: thin dotted;
 }
 
 /*
  * Improves readability when focused and also mouse hovered in all browsers.
  */
 
 a:active,
 a:hover {
     outline: 0;
 }
 
 /* ==========================================================================
    Typography
    ========================================================================== */
 
 /*
  * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
  * Safari 5, and Chrome.
  */
 
 h1 {
     font-size: 2em;
 }
 
 /*
  * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
  */
 
 abbr[title] {
     border-bottom: 1px dotted;
 }
 
 /*
  * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
  */
 
 b,
 strong {
     font-weight: bold;
 }
 
 /*
  * Addresses styling not present in Safari 5 and Chrome.
  */
 
 dfn {
     font-style: italic;
 }
 
 /*
  * Addresses styling not present in IE 8/9.
  */
 
 mark {
     background: #ff0;
     color: #000;
 }
 
 
 /*
  * Corrects font family set oddly in Safari 5 and Chrome.
  */
 
 code,
 kbd,
 pre,
 samp {
     font-family: monospace, serif;
     font-size: 1em;
 }
 
 /*
  * Improves readability of pre-formatted text in all browsers.
  */
 
 pre {
     white-space: pre;
     white-space: pre-wrap;
     word-wrap: break-word;
 }
 
 /*
  * Sets consistent quote types.
  */
 
 q {
     quotes: "\201C" "\201D" "\2018" "\2019";
 }
 
 /*
  * Addresses inconsistent and variable font size in all browsers.
  */
 
 small {
     font-size: 80%;
 }
 
 /*
  * Prevents `sub` and `sup` affecting `line-height` in all browsers.
  */
 
 sub,
 sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
     vertical-align: baseline;
 }
 
 sup {
     top: -0.5em;
 }
 
 sub {
     bottom: -0.25em;
 }
 
 /* ==========================================================================
    Embedded content
    ========================================================================== */
 
 /*
  * Removes border when inside `a` element in IE 8/9.
  */
 
 img {
     border: 0;
 }
 
 /*
  * Corrects overflow displayed oddly in IE 9.
  */
 
 svg:not(:root) {
     overflow: hidden;
 }
 
 /* ==========================================================================
    Figures
    ========================================================================== */
 
 /*
  * Addresses margin not present in IE 8/9 and Safari 5.
  */
 
 figure {
     margin: 0;
 }
 
 /* ==========================================================================
    Forms
    ========================================================================== */
 
 /*
  * Define consistent border, margin, and padding.
  */
 
 fieldset {
     border: 1px solid #c0c0c0;
     margin: 0 2px;
     padding: 0.35em 0.625em 0.75em;
 }
 
 /*
  * 1. Corrects color not being inherited in IE 8/9.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  */
 
 legend {
     border: 0; /* 1 */
     padding: 0; /* 2 */
 }
 
 /*
  * 1. Corrects font family not being inherited in all browsers.
  * 2. Corrects font size not being inherited in all browsers.
  * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
  */
 
 button,
 input,
 select,
 textarea {
     font-family: inherit; /* 1 */
     font-size: 100%; /* 2 */
     margin: 0; /* 3 */
 }
 
 /*
  * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
 
 button,
 input {
     line-height: normal;
 }
 
 /*
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *    and `video` controls.
  * 2. Corrects inability to style clickable `input` types in iOS.
  * 3. Improves usability and consistency of cursor style between image-type
  *    `input` and others.
  */
 
 button,
 html input[type="button"], /* 1 */
 input[type="reset"],
 input[type="submit"] {
     -webkit-appearance: button; /* 2 */
     cursor: pointer; /* 3 */
 }
 
 /*
  * Re-set default cursor for disabled elements.
  */
 
 button[disabled],
 input[disabled] {
     cursor: default;
 }
 
 /*
  * 1. Addresses box sizing set to `content-box` in IE 8/9.
  * 2. Removes excess padding in IE 8/9.
  */
 
 input[type="checkbox"],
 input[type="radio"] {
     box-sizing: border-box; /* 1 */
     padding: 0; /* 2 */
 }
 
 /*
  * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
  * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
  *    (include `-moz` to future-proof).
  */
 
 input[type="search"] {
     -webkit-appearance: textfield; /* 1 */
     -moz-box-sizing: content-box;
     -webkit-box-sizing: content-box; /* 2 */
     box-sizing: content-box;
 }
 
 /*
  * Removes inner padding and search cancel button in Safari 5 and Chrome
  * on OS X.
  */
 
 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-decoration {
     -webkit-appearance: none;
 }
 
 /*
  * Removes inner padding and border in Firefox 4+.
  */
 
 button::-moz-focus-inner,
 input::-moz-focus-inner {
     border: 0;
     padding: 0;
 }
 
 /*
  * 1. Removes default vertical scrollbar in IE 8/9.
  * 2. Improves readability and alignment in all browsers.
  */
 
 textarea {
     overflow: auto; /* 1 */
     vertical-align: top; /* 2 */
 }
 
 /* ==========================================================================
    Tables
    ========================================================================== */
 
 /*
  * Remove most spacing between table cells.
  */
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 .xml .tag,
 .css .tag,
 .json .attribute {
     color: #2F6F9F;
 }
 
 .xml .tag .attribute {
     color: #4F9FCF;
 }
 
 .xml .tag .value,
 .json .value,
 .javascript .string,
 .r .string {
     color: #d44950;
 }
 
 .xml .comment,
 .javascript .comment {
     color: #999;
 }

 html {
     height: 100%;
 }
 
 body {
     font: 13pt/1.5 "Gotham A", "Gotham B", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
     background: #f0ece9;
     color: #555;
     height: 100%;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 
 /* In IE < 10 Lato font is rendered poorly */
 .lt-ie10 body {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 
 h1, h2, h3, h4, h5, h6, p, ul, ol, table, pre, dl {	
     margin: 0 0 12px;
 }
 
 h1, h2, h3 {
     font: "Gotham A", "Gotham B", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
     line-height: 1.1;
 }
 
 h2, h3, h4, h5, h6 {
     font: "Gotham A", "Gotham B", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
     margin-top: 12pt;
     margin-bottom: 8pt
 }
 
 h1 {
     color: #222;
     font-size: 22pt;
     margin-top: 12pt;
     margin-bottom: 18px;
 }
 
 h2 {
     color: #393939;
 }
 
 h3, h4, h5, h6 {
     color: #494949;
 }
 
 p:last-child {
     margin-bottom: 0;
 }
 
 a {
     color: #39c;
     text-decoration: none;
 }
 
 a:hover {
     color: #069;
 }
 
 blockquote {
     border-left: 1px solid #e5e5e5;
     margin: 0;
     padding: 0 0 0 20px;
     font-style: italic;
 }
 
 code, pre {
     font-family: Monaco, Bitstream Vera Sans Mono, "Lucida Console", Terminal;
     color: #333;
     font-size: 0.9em;
 }
 
 pre {
     padding: 8px 15px;
     background: #f8f8f8;  
     border-radius: 5px;
     border:1px solid #e5e5e5;
 }
 
 label {
     float: left;
     width: 25%;
     text-align: left;
     margin-right: 0.5em;
     font-weight: bold;
 
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     -o-text-overflow: ellipsis;
 }
 
 table pre {
     margin: 0;
 }
 
 table {
     width: 100%;
     border-collapse: collapse;
 }
 
 th, td {
     text-align: center;
     padding: 5px 10px;
     border-top: 1px solid #e5e5e5;
     border-bottom: 1px solid #e5e5e5;
 }
 
 dt {
     color: #444;
     font-weight: bold;
     font-size: 1.2em;
 }
 
 dd {
     margin-left: 0;
     padding-left: 0;
     margin-bottom: 1.5em;
 }
 
 th {
     color: #444;
 }
 
 img {
     max-width: 100%;
 }
 
 strong {
     color:#222;
     font-weight:700;
 }
 
 small {
     font-size: 0.8em;
 }
 
 hr {
     border: 0;
     background: #e5e5e5;
     height: 1px;
     margin: 0 0 20px;
 }
 
 .wrapper {
     width: 80%;
     max-width: 1000px;
     margin: 0 auto;
     min-height: 100%;
     position: relative;
 }
 
 .nav {
     list-style-type: none;
     margin: 0;
     padding: 0;
     line-height: 1.2em;
 }
 
 .nav .nav {
     margin-left: 30px;
     margin-top: 5px;
     margin-bottom: 20px;
     font-size: 12px;
 }
 
 .nav__item {
     margin-bottom: 15px;
     line-height: 1.2;
 }
 
 .nav__item .nav__item {
     margin-bottom: 5px;
 }
 
 #nav-header {
     background-color: black;
     min-height: 67px;
     width: 100%;
 }
 
 .logo img {
     margin-left: 165px;
     margin-top: 10px;
     width: 174px;
 }
 
 .clear {
     clear: both;
     height: 0;
 }
 
 .page-header {
     width: 270px;
     float: left;
     margin-bottom: 10em;
     margin-left: 8pt;
     padding-top: 24pt;
 }
 
 .page-content {
     background: #fff;
     width: 70%;
     float: left;
     margin-left: 24pt;
     margin-top: 24pt;
     padding: 6pt 36pt 36pt 36pt;
 }
 
 .page-footer {
     width: 270px;
     clear: both;
     position: absolute;
     bottom: 50px;
 }
 
 .small-text {
     font-size: 0.8em;
     color: #777;
     margin-bottom: 0.7em;	
 }
 
 .site-title a {
     color: #000;
     text-decoration: underline;
 }
 
 .anchor {
     width: 1em;
     display: inline-block;
     position: absolute;
     margin-left: -1em;
     color: inherit;
     opacity: 0;
 }
 
 .anchor:before {
     content: '¶';
 }
 
 *:hover > .anchor,
 .anchor:hover {
     opacity: 1;
 }
 
 #apdex-error {
     color:  red;
     margin-left: 0.5em;
 }
 
 .error {
     background: #FFBBCC;
     border-color: red;
 }
 
 #showme {
     display: none;
     margin-top: 20pt;
     width: 100%;
 }
 
 #showme > table td {
     border: none;
     padding: 0pt 6pt 0pt 0pt;
     vertical-align: top;
     width: 33%;
 }
 
 #satisfied {
     background-color: #77DD77;
     padding: 12pt;
     height: 100pt;
 }
 
 #tolerating {
     background-color: #FDFD96;
     padding: 12pt;
     height: 100pt;
 }
 
 #frustrated {
     background-color: #FF6961;
     padding: 12pt;
     height: 100pt;
 }
 
 @media print, screen and (max-width: 960px) {
     body {
         padding: 50px;
     }
 
     .wrapper {
         width: auto;
         margin: 0;
     }
     
     .page-header, .page-content, .page-footer {
         float: none;
         position: static;
         width: auto;
     }
     
     .page-header {
         padding-top: 0;
         padding-right: 320px;
         margin-right: 0;
         margin-bottom: 0;
     }
     
     .page-content {
         border: 1px solid #e5e5e5;
         border-width: 1px 0;
         padding: 20px 0;
         margin: 0 0 20px;
     }
 
     .page-footer {
         padding-bottom: 10px;
     }
 }
 
 @media print, screen and (max-width: 720px) {
     body {
         word-wrap: break-word;
     }
     
     .page-header {
         padding: 0;
     }
         
     pre, code {
         word-wrap: normal;
     }
 }
 
 @media print, screen and (max-width: 480px) {
     body {
         padding: 15px;
     }
 
     .back-to-main:before {
         content: '';
     }
 
     .CodeMirror-movie__splash-text {
         font-size: 2em;
     }
 
     .download-main {
         box-sizing: border-box;
         width: 100%;
         font-size: 2em;
     }
 
     .download-main__comment {
         font-size: 10px;
     }
 }
 
 @media print {
     body {
         padding: 0.4in;
         font-size: 12pt;
         color: #444;
     }
 }

 .overlay {
    /* must be initially hidden */
    display: none;
 
    /* place overlay on top of other elements */
    z-index: 10000;
 
    /* styling */
    background-color: #fff;
    padding: 12pt 36pt 24pt 36pt;
    width: 675px;
    min-height: 200px;
    border: 1px solid #888;
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow: 0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

.overlay .close {
    background-image: url('assets/images/close.png');
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.overlay label {
    font-weight: normal;
    width: 7em;
}